p {
  font-size: 16px;
  font-weight: 400;
}

.topbar {
  width: 100%;
  height: 90px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: black;
  cursor: pointer;
  float: left;
}

.topright {
  display: flex;
  align-content: center;
}

.topbarIconContainer {
  position: relative;
  margin-right: 10px;
}
